.form_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  /* background-color: #1014c5; */
  /* background-image: linear-gradient(
    rgba(0, 0, 255, 0.774),
    rgba(0, 0, 161, 0.562)
  ); */
  background: rgba(59, 65, 64, 0.5);
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba(92, 155, 143, 0.37);
  font-family: Arial, sans-serif;
  margin: 0 220px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.title {
  margin-bottom: 50px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #e0be12;
  font-family: Arial, sans-serif;
  text-shadow: 2px 2px 30px rgba(0, 0, 0, 0.9);
}

.container_checkbox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.form_container label {
  display: block;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #e0be12;
  text-align: left;
}

.form_container input {
  border: 2px solid #b22222;
  border-radius: 0.5rem;
  font-size: 1rem;
  line-height: 1.25rem;
  padding: 10px;
  width: 20rem;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.button {
  width: 160px;
  height: 40px;
  margin-top: 10px;
  border-radius: 20px;
  background-color: #e0be12;
  color: #b22222;
  cursor: pointer;
  font-size: 16px;
  text-shadow: 2px 2px 30px #b22222;
  border: 4px solid red;
  box-shadow: 0 0 15px 5px rgba(255, 0, 0, 0.3);
  margin-bottom: 40px;
  margin-top: 60px;
}
.form_container span {
  color: red;
  margin-top: 4px;
  font-size: 14px;
  text-align: center;
  display: block;
  margin-bottom: 10px;
}

.img {
  width: 200px;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.button_container button {
  margin-right: 1.8rem;
  border-width: 1px;
  padding: 0.4rem 0.6rem;
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: bold;
  color: #b22222;
  background-color: #e0be12;
  border: 4px solid blue;
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: 0 0 15px 5px rgba(255, 0, 0, 0.3);
}

.button_container:button hover {
  background-color: rgb(245, 166, 8);
  cursor: pointer;
}
